In [48]:
import pandas as pd
df = pd.read_csv('/Users/wangbo/Desktop/db_final_emission.csv',dtype={'GEOID':str})
#df = df.apply(pd.to_numeric)
df.head()
# df= pd.to_numeric(df, errors='coerce')

,OBJECTID,GEOID,bg_area_m2,geo_num,kgco2_1980,kgco2_1981,kgco2_1982,kgco2_1983,kgco2_1984,kgco2_1985,...,kgco2_2010,kgco2_2011,kgco2_2012,kgco2_2013,kgco2_2014,kgco2_2015,kgco2_2016,kgco2_2017,Shape_Length,Shape_Area
0,1,010810416001,6.974538e+06,1.081042e+10,1.541925e+07,1.498221e+07,1.478027e+07,1.555027e+07,1.673035e+07,1.799724e+07,...,3.130437e+07,3.121804e+07,3.148056e+07,3.428432e+07,3.457484e+07,3.683024e+07,3.941261e+07,4.372530e+07,12958.788060,6.974538e+06
1,2,010810416002,1.514373e+06,1.081042e+10,1.684527e+06,1.644616e+06,1.627762e+06,1.717410e+06,1.851792e+06,1.983965e+06,...,3.591234e+06,3.554152e+06,3.629367e+06,4.008766e+06,4.082605e+06,4.359100e+06,4.591699e+06,4.894511e+06,5960.075489,1.514373e+06
2,3,010810417004,2.406711e+07,1.081042e+10,1.011197e+06,9.553904e+05,9.070310e+05,9.095824e+05,9.350337e+05,9.651894e+05,...,2.364471e+06,2.464930e+06,2.535879e+06,2.763211e+06,2.710690e+06,2.734265e+06,2.678873e+06,2.612901e+06,22942.537850,2.406711e+07
3,4,010730111074,7.842046e+06,1.073011e+10,1.220258e+07,1.201808e+07,1.175504e+07,1.199131e+07,1.235064e+07,1.251207e+07,...,1.998670e+07,1.870720e+07,1.782668e+07,1.874171e+07,1.906047e+07,2.137106e+07,2.531525e+07,3.225555e+07,13741.677640,7.842046e+06
4,5,010730111084,2.464070e+06,1.073011e+10,1.885830e+07,1.855567e+07,1.811886e+07,1.843564e+07,1.883039e+07,1.867163e+07,...,2.533552e+07,2.426322e+07,2.306507e+07,2.370388e+07,2.298938e+07,2.394967e+07,2.574883e+07,2.948802e+07,13082.757640,2.464070e+06

In [49]:
# group block by county
data = df.copy(deep = True)
data = data.drop(['OBJECTID'], axis=1)
data['GEOID'] = df['GEOID'].map(lambda id:id[:5])
data = data.groupby('GEOID').sum()

In [51]:
data= data[~(data == 0).any(axis=1)]
export_csv = data.to_csv ('/Users/wangbo/Desktop/county_data.csv', header=True)

In [4]:
import pandas as pd
df2 = pd.read_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/us_county_population_1970_2014.csv',encoding = "ISO-8859-1")
df2.head()

,fips,state_fips,county_fips,areaname,state_name,county_name,pop1980,pop1981,pop1982,pop1983,...,pop2000,pop2001,pop2002,pop2003,pop2004,pop2005,pop2006,pop2007,pop2008,pop2009
0,0,0,0,United States,United States,United States,226542250.0,229465744.0,231664432.0,233792014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000,1,0,Alabama,Alabama,Alabama,3894025.0,3918533.0,3925263.0,3934100.0,...,4451849.0,4464034.0,4472420.0,4490591.0,4512190.0,4545049.0,4597688.0,4637904.0,4677464.0,4708708.0
2,1001,1,1,Autauga County,Alabama,Autauga County,32259.0,31985.0,32036.0,32054.0,...,43872.0,44434.0,45157.0,45762.0,46933.0,47870.0,49105.0,49834.0,50354.0,50756.0
3,1001,1,1001,"Autauga County, Alabama",Alabama,Autauga County,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003,1,3,Baldwin County,Alabama,Baldwin County,78556.0,80287.0,82331.0,83978.0,...,141358.0,144988.0,148141.0,151707.0,156573.0,162564.0,168516.0,172815.0,176212.0,179878.0

In [10]:
df2=df2.dropna()
df2=df2.drop(['state_fips',	'county_fips',	'areaname'],axis=1)
df2.head()
export_csv = df2.to_csv ('/Users/wangbo/Desktop/population_data.csv', header=True, index=False)

,fips,state_name,county_name,pop1980,pop1981,pop1982,pop1983,pop1984,pop1985,pop1986,...,pop2000,pop2001,pop2002,pop2003,pop2004,pop2005,pop2006,pop2007,pop2008,pop2009
1,1000,Alabama,Alabama,3894025.0,3918533.0,3925263.0,3934100.0,3951824.0,3972520.0,3991569.0,...,4451849.0,4464034.0,4472420.0,4490591.0,4512190.0,4545049.0,4597688.0,4637904.0,4677464.0,4708708.0
2,1001,Alabama,Autauga County,32259.0,31985.0,32036.0,32054.0,32134.0,32245.0,32893.0,...,43872.0,44434.0,45157.0,45762.0,46933.0,47870.0,49105.0,49834.0,50354.0,50756.0
4,1003,Alabama,Baldwin County,78556.0,80287.0,82331.0,83978.0,86752.0,89401.0,91311.0,...,141358.0,144988.0,148141.0,151707.0,156573.0,162564.0,168516.0,172815.0,176212.0,179878.0
7,1005,Alabama,Barbour County,24756.0,24748.0,24777.0,24798.0,24952.0,25002.0,24941.0,...,29035.0,29223.0,29289.0,29480.0,29458.0,29452.0,29556.0,29736.0,29836.0,29737.0
9,1007,Alabama,Bibb County,15723.0,15836.0,16020.0,15999.0,16089.0,16157.0,15918.0,...,19936.0,20942.0,20983.0,21037.0,21208.0,21375.0,21285.0,21485.0,21589.0,21587.0

In [ ]:
df3 = pd.read_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/population_2010plus.csv',encoding = "ISO-8859-1")
df3=df3.dropna()
df3.reset_index(inplace=True)
df2.reset_index(inplace=True)

In [ ]:
result = pd.concat([df2, df3], axis=1,join='inner')
result.head()

In [ ]:
import pandas as pd
newdf1 = pd.read_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/data_noemission.csv');
newdf1 = newdf1.iloc[:,0:40].dropna()
newdf1['fips']=newdf1['fips'].map(int)
newdf1.head()

In [ ]:
edf = pd.read_csv('/Users/wangbo/Desktop/county_data.csv')
edf.head()

In [ ]:
alldf = pd.merge(newdf1, edf, how='inner',left_on='fips', right_on='GEOID')

# CO2 43:77
# pop 3:37

for i in range(3,38):
    year = 1980-3+i
    pop = alldf.iloc[:,i]
    emission = alldf.iloc[:,i+40]
    alldf.iloc[:,i] = emission/pop
    cn = alldf.columns[i]
    alldf.rename(columns={cn:'em_per_cap'+str(year)},inplace=True)

partial = alldf.iloc[:,0:40]
partial.head()
ddd = partial.to_csv ('/Users/wangbo/Desktop/all_data_final.csv', header=True, index=False)

In [ ]:
import pandas as pd
alldf = pd.read_csv('/Users/wangbo/Desktop/all_data_final.csv')
# alldf.head()
samples = alldf.sample(n=50, random_state=1)
samples.head()
qaq= samples.to_csv ('/Users/wangbo/Desktop/all_data_samles.csv', header=True, index=False)

In [22]:
# get population table
import  pandas as pd
fpath = '/Users/wangbo/Desktop/population_data.csv'
df = pd.read_csv(fpath)
popdf = df.loc[:,['fips','pop1980','pop1985','pop1990','pop1995','pop2000','pop2005','pop2009']]
popdf = popdf.astype(int)
popdf.head()
qaq = popdf.to_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/tables/population.csv',header=True,index=False)

In [1]:
import pandas as pd
# get metro table
fpath = '/Users/wangbo/Desktop/CS5200/finalProject/data/tables/metro.csv'
cdf = pd.read_csv(fpath)
cdf.head()
qaq = cdf.to_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/tables/metro.csv',header=True,index=False)

In [21]:
# get county table
fpath = '/Users/wangbo/Desktop/CS5200/finalProject/data/county_lat_lon.csv'
cdf = pd.read_csv(fpath)

cdf = cdf.loc[:,['STATE','COUNTYNAME','FIPS']]
cdf.head()
qaq = cdf.to_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/tables/county.csv',header=True,index=False)

In [23]:
# get location table
fpath = '/Users/wangbo/Desktop/CS5200/finalProject/data/tables/location.csv'
cdf = pd.read_csv(fpath)
qaq = cdf.to_csv('/Users/wangbo/Desktop/CS5200/finalProject/data/tables/location.csv',header=True,index=False)